h1 {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

p {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

body {
  text-align: center;
  background-image: linear-gradient(green, purple);
}
